html {
line-height: 1.5;
font-size: 14px;
font-family: Arial, Helvetica, sans-serif;
}

body {
line-height: inherit;
text-rendering: optimizeLegibility;
font-kerning: normal;
}

* {
margin: 0;
}

.measure {
    max-width: 33ch;
}

h1,
h2,
h3,
h4,
h5,
h6,

p {
font-family: inherit;
font-size: inherit;
font-weight: inherit;
}